<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" />
    </head>
    <body>
        <div
            class="container"
            style="
                width: 21rem;
                padding: 10px;
                border: 0.5px solid gray;
                border-radius: 5px;
                margin: 20px;
            ">
            <h3>Forget Password</h3>
            <form
                id="emailForm"
                method="post"
                action="/auth/forgotPass/email">
                <label for="email">Enter the registered Email address :</label
                ><br />
                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Email"
                    required />
                <button
                    type="submit"
                    class="btn btn-primary">
                    Submit
                </button>
            </form>
        </div>

        <script>
            document
                .getElementById("emailForm")
                .addEventListener("submit", async (event) => {
                    event.preventDefault();
                    const userEmail = event.target.email.value;
                    try {
                        const res = await fetch("/auth/forgotPass/email", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({ userEmail }),
                        });
                        if (res.ok) {
                            // Store the user's email in localStorage
                            localStorage.setItem("userEmail", userEmail);

                            // Redirect the user to the OTP entry page
                            window.location.href = "/otpVerify";
                        } else {
                            console.error("Error setting email cookie on the server");
                        }
                    } catch (error) {
                        console.log(error);
                    }
                });
        </script>
    </body>
</html>
