.list{
    background-color: rgb(221, 236, 254);
    margin: 10px 5%;
    padding: 15px 0px;
    border: 1px solid rgb(227, 240, 236);
    border-radius: 20px;
    /* background-color: blueviolet; */
    padding: 20px;
}

.list .title{
    color: rgb(11, 197, 244);
    text-align: center;
}

.list .links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "tool tool tool"
    "tool tool tool";
}

.list .links .tool a{
    grid-area: tool;
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.list .links .tool a img{
    width: 58px;
    height: 58px;
    margin-top: 15px;
}

.tool .toolDesc{
    padding-top: 10px;
    padding-left: 10px;
}

.tool .toolDesc h2{
    font-size: 20px;
}