.product{
    background-color: rgb(252, 225, 202);
    margin: 10px 5%;
    padding: 15px 0px;
    border: 1px solid rgb(227, 240, 236);
    border-radius: 20px;
    /* background-color: blueviolet; */
    padding: 20px;
}

.product .title{
    color: rgb(255, 117, 5);
    text-align: center;
}

.product .links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "tool";
    place-items: center;
}

.product .links .tool a{
    grid-area: tool;
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.product .links .tool a img{
    width: 58px;
    height: 58px;
    margin-top: 15px;
}

.tool .toolDesc{
    padding-top: 18px;
    padding-left: 10px;
}

.tool .toolDesc h2{
    font-size: 20px;
}