.youtube{
    background-color: rgb(255, 220, 220);
    margin-top: 10px;
    /* margin-left: 20%; */
    margin-right: 5%;
    border: 1px solid rgb(227, 240, 236);
    border-radius: 20px;
    /* background-color: blueviolet; */
    padding: 15px;
    width: 50%;
}

.youtube .title{
    color: red;
    text-align: center;
}

.youtube .links{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "tool";
    place-items: center;
}

.youtube .links .tool a{
    grid-area: tool;
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.youtube .links .tool a img{
    width: 58px;
    height: 58px;
    margin-top: 15px;
}

.tool .toolDesc{
    padding-top: 18px;
    padding-left: 10px;
}

.tool .toolDesc h2{
    font-size: 20px;
}